/*==================================== LAYOUT SECTION======================================*/

body{
    font-family: 'Times New Roman', Tahoma, Verdana, sans-serif;
    font-size: medium;
    margin-left: 0;
    margin-right: 0;
}
h1,h2,h3{
    text-align: center;
    margin-top: 16px;
    
}

#header{
    margin: 20px;
    height: 130px;
    background-color:  rgb(0, 255, 13);
    color: #f5f5f5;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    /*clear: both;*/
}

#navbar{
    border-radius: 10px;
    height: 40px;
    font-style: 25px;
    font-weight: bold;
    font: Tahoma;
    margin: 20px;
    background-color: rgb(0, 255, 13);
}

#navbar ul{
    padding: 0;
    margin-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    list-style-type: none;
}


#navbar  ul li {
    display: inline;
    padding: 4em;
    vertical-align: middle;

}

#navbar  a{
    text-decoration: none;
    padding: 8px;
    color: whitesmoke;
    font-size: 25px;
    font: bold;
}

#navbar a:hover{
   color: black;
   background-color: #f5f5f5;
   
}

/*===================================== SPECIAL CODE =========================================*/
.about{
    font-family: 'Times New Roman', Times, serif;
    font-weight: light;
    font-size: 25px;
    margin-left: calc(2em - 1em);
}

.pic{
    margin-left: 32px;
    margin-right: 32px;
}

.subheader{
          text-align: center;
          font-size: medium;
}


#button{
    background: #00cc80;
    width: 17em;
    
    display: block;
    color: white;
    border-radius: 20px;
    padding: .5em;
    font-size: 1.5em;
    margin: 3% auto 7%;
    z-index: 4;
    transition: 0.5s ease-in-out;
    text-decoration: none;   
    text-align: center;

}

#button ul{
    list-style-type: none;
    
}






#button:hover{
    opacity: 0.4;
    box-shadow: inset;
}



    




